{% extends "adminapp/adminlayout.html" %}
{% block content %}


<body>
    <div class="wrapper">
        <div id="content">

            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">Contact</h2>
            <!--// main-heading -->
            
            <!-- Grids Content -->
            <section class="grids-section bd-content">

                <!-- Grids Info -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Contact Details</h4>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                
                                <th class="text-center">
                                    Name
                                </th>
                                <th class="text-center">
                                    Email ID
                                </th>
                                <th class="text-center">
                                    subject
                                </th>
                                <th class="text-center" style="width: 40%">
                                    message
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in msg %}
                            <tr>
                                <td>{{i.name}}</td>
                                <td>{{i.email}}</td>
                                <td>{{i.subject}}</td>
                                <td style="width: 40%"><textarea rows="5" cols="60" readonly>{{i.message}}</textarea></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>   
        </div>
    </div>

</body>
{% endblock %}