{% extends "adminapp/adminlayout.html" %}
{% block content %}


<body>
    <div class="wrapper">
        <div id="content">

            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">Users</h2>
            <!--// main-heading -->

            <!-- Grids Content -->
            <section class="grids-section bd-content">

                <!-- Grids Info -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Authorized Users</h4>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                
                                <th class="text-center">
                                    Name
                                </th>
                                <th class="text-center">
                                    Password
                                </th>
                                <th class="text-center">
                                    User Type
                                </th>
                                <th class="text-center">
                                     Blocking
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in log %}
                            <tr>
                                <td>{{i.username}}</td>
                                <td>{{i.password}}</td>
                                <td>{{i.usertype}}</td>
                                <td><a href="{% url 'delete' id=i.id%}">Block</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>   
        </div>
    </div>

</body>
{% endblock %}